:root {
  --color: #274b46;
}

@font-face {
  font-family: myFirstFont;
  src: url(./fonts/Norse-Bold.otf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

/* Left Section */

.picture {
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: 38vw;
}

.banner {
  height: 16vh;
  margin-top: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 100%;
  background-color: black;
  opacity: .7;
}

.title {
  margin-top: 20px;
  font-family: myFirstFont;
  font-size: 75px;
  color: white;
}

/* Right Section */

.content {
  width: 62vw;
  background-color: rgb(236, 236, 236);
}

.headline,
.login {
  color: black;
  padding-left: 40px;
}

.headline {
  font-size: 30px;
  font-weight: 700;
  height: 30vh;
  display: flex;
  align-items: center;
}

.fillable-area {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  gap: 36px;
  padding: 40px;
  background-color: white;
}

.sign-up label {
  text-transform: uppercase;
}

.input-box input {
  width: 300px;
  height: 27px;
  padding-left: 10px;
}

.sign-up .input-box {
  width: 300px;
}

.submit {
  padding-left: 40px;
  margin-top: 30px;
}

.submit input {
  color: white;
  font-size: 19px;
  background-color: var(--color);
  border-radius: 9px;
  border: var(--color);
  padding: 12px 30px;
  cursor: pointer;
}

input:hover {
  border: 2px solid rgb(0, 104, 231);
}

input[type=password] {
  border: 2px solid red;
  border-radius: 3px;
}

.login {
  margin-top: 10px;
}

.clickable {
  color: var(--color);
  font-weight: 700;
  cursor: pointer;
}